<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs/Debug/" />
      <datePattern value="yyyyMMdd'.log'"/>
      <param name="Encoding" value="utf-8" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" />-->
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline" />
      </layout>
    </appender>

    <appender name="RabbitMqFileAppender" type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Logs/RabbitMq/" />
      <datePattern value="yyyyMMdd'.log'"/>
      <param name="Encoding" value="utf-8" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" />-->
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level - %message%newline" />
      </layout>
    </appender>

    <root>
      <!--<appender-ref ref="RollingFileAppender" />-->
    </root>
    <logger name="Debug">
      <appender-ref ref="DebugFileAppender" />
    </logger>
    <logger name="RabbitMq">
      <appender-ref ref="RabbitMqFileAppender" />
    </logger>    

  </log4net>
</configuration>